@Styles.Render("~/Content/blocks/main-wrapper")
@Styles.Render("~/Content/blocks/typewritter")
@Styles.Render("~/Content/blocks/button")
@Styles.Render("~/Content/blocks/timer")
@Styles.Render("~/Content/blocks/btn-group")
@Scripts.Render("~/Scripts/Test.js")
@{
    ViewBag.Title = "Quick Test";
}
<link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">
<main class="main-wrapper">
    <div class="main-wrapper__segment main-wrapper__for-timer">
        <div class="timer" id="timer">1:00</div>
        <div class="typewritter typewritter__test typewritter_margin_top_big typewritter_height_big">
        <p class="typewritter__test-text" id="test-text" tabindex="0">
        @*@{
            string text = ViewBag.Text;
                
            foreach(char i in text)
            {
                <span>@i</span>
            }               
        }   *@  
            @ViewBag.Text
        </div>
        <div class="btn-group">
            <button class="button button_size_large button_position_centered" onclick="startTest()">
                <span class="button__text button-large__text">Start</span>
            </button>
            <button class="button button_size_large button_position_centered button-danger" disabled>
                <span class="button__text button-large__text">Quit</span>
            </button>
        </div>
    </div>
</main>


