<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    @Styles.Render("~/Content/Layout")
</head>
<body>
    <div class="menu clearfix">
        <div class="logo-wrapper">
            <div class="logo" onclick="location.href='@Url.Action("Index", "Home")'">
                <div class="logo__letter logo__t">T</div>
                <div class="logo__letter logo_w">W</div>
                <span class="logo__inscription">TYPEWELL<span class="logo__exclamation-mark">!</span></span>
            </div>

        </div>
        <ul class="menu__links menu_float_right">
            <li class="menu__item menu__item_margin_standart"><a class="menu__link" href="#">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "link" })</a></li>
            <li class="menu__item menu__item_margin_standart"><a class="menu__link" href="#">@Html.ActionLink("Quick Test", "Index", "Test", null, new { @class = "link"})</a></li>
            <li class="menu__item menu__item_margin_standart"><a class="menu__link" href="#">Profile</a></li>
            <li class="menu__item menu__item_margin_standart"><a class="menu__link" href="#">About us</a></li>
        </ul>
    </div>

    @RenderBody()

    <div class="page-footer">
        <div class="logo-wrapper logo-wrapper_centered">
            <div class="logo" onclick="location.href='@Url.Action("Index", "Home")'">
                <div class="logo__letter logo__t">T</div>
                <div class="logo__letter logo_w">W</div>
                <span class="logo__inscription">TYPEWELL<span class="logo__exclamation-mark">!</span></span>
            </div>
        </div>
        <div class="page-footer__farewell-wrapper">
            <div class="page-footer__contacts"><a target="_blank" href="https://github.com/IgorX1" class="attention-text link">KonobasX</a> production - @DateTime.Today.Year</div>
        </div>
    </div>
</body>
</html>
